.menu {
    background: #f0f2f5;
    height: calc(100% - 4rem);
    left: 0;
    opacity: 0;
    padding: 1.5rem;
    position: absolute;
    top: 4rem;
    transition: visibility 0s linear .3s, opacity .3s;
    visibility: hidden;
    width: 100%;
    z-index: 1;

    &__row {

        &:not(:last-of-type) {
            margin-bottom: 1rem;
        }
    }

    &.is-open {
        opacity: 1;
        transition: visibility 0s linear 0s, opacity .3s;
        visibility: visible;
    }
}